<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}
{% block body_block %}
    <h1>Rango says...</h1>
    <p>here is the about page.</p>
    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong> <br />
    </div>
    <div>
        <a href="{% url 'rango' %}">Index</a> <br />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." height="30%" width="30%" />
    </div> 
{% endblock %}
